[build]
  functions = "netlify/functions"
  publish = "public"

[functions]
  included_files = ["netlify/wasm/**"]

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"
